@import './libs/vars';


.container{
    width: 100%;
    height: 100%;


    .absBigWrap{
        width: 100%;
        height: 100vh;
        padding: 0 5vw;
    }

    .header{
        width: 100%;
        margin-top: 12vh;
    }

    .coverPicture{
        min-width: 15em;
        min-height: 15em;

        max-width: 15em;
        max-height: 15em;

        margin-right: 2em;
        border-radius: 1em;

        // background: pink;
    }


    

    .title{
        margin-top: 0.85em;
        background: $highlightColor;
        font-weight: 600;


        @keyframes textShine {
            to {
              background-position: 200%;
            }
        }

        background: linear-gradient(45deg, $secondaryHighlight 20%, $highlightShade 30%, $highlightColor 70%, $secondaryHighlight 80%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        background-size: 200% auto;
        animation: textShine 7s ease-in-out infinite alternate;

        filter: drop-shadow(0 0.1em 0.2em $transparentBlue);
    }

    .artists{
        margin: 0.4em 0;
    }



    .genreNames, .artistNames{
        color: $pureWhite;
    }

    .genreNames{
        margin-top: 0.5em;
    }

    .condoriano{
        width: 0.85em;
        margin-right: 0.5em;
    }

    .line{
        width: 3em;
        height: 0.15em;
        background: $highlightShade;
        margin: 0.5em 0.2em;
    }


    $picDim: 3em;


    .artistPic{
        width: $picDim;
        height: $picDim;

        border-radius: 100em;
        margin-bottom: 0.5em;
    }

    .similarArtist{
        margin-right: 1em;
    }

    

    .artistName{
        color: $pureWhite;
    }

    .nakedBod{
        width: 100%;
        height: 100%;
        justify-content: space-between;

        // background: yellow;
    }


    .sliderWrap{
        width: 45%;
        margin: 2em 0;
        margin-bottom: 0;
    }

}



//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////
//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////
//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////


    // MOBILE PORTRAIT
    @media screen and (min-width: 100px) and (max-width: 767px) and (orientation: portrait)  {

    }

    // MOBILE LANDSCAPE
    @media screen and (min-width: 100px) and (max-width: 767px) and (orientation: landscape){

    } 







    // IPAD PORTRAIT
    @media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {

    }

    // IPAD LANDSCAPE
    @media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {

    }






    // IPAD PRO PORTRAIT
    @media screen and (min-width: 1024px) and (max-width: 1151px)  and (orientation: portrait)  {

    }

    // IPAD PRO LANDSCAPE
    @media screen and (min-width: 1024px) and (max-width: 1151px)  and (orientation: landscape)  {

    }






    // MDPI SCREENS
    @media screen and (min-width: 1152px) and (max-width: 1365px){

    }

    // USUAL LAPTOPS
    @media screen and (min-width: 1366px) and (max-width: 1339px){

    }

    // HiDPI SCREENS
    @media screen and (min-width: 1440px) and (max-width: 1919px){

    }





    // FULL HD SCREENS
    @media screen and (min-width: 1920px) and (max-width: 6000px){

    }


//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////
//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////
//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////
