@import './libs/vars';



.container{


    // CHANGE THIS AS PER YOUR REQUIREMENTS
    $noOfSlides: 5;



    width: 100%;

    .imageSlideShowContainer{
        width: 100%;
        margin: 0.5em 0;
        // background: yellow;
    }

    .slideShowHeader{
        min-width: 100%;
        width: 100%;
        justify-content: space-between;
        // margin: 0.45em 0;
        padding: 0 0.25em;

    }


    .outerSlideWrap{
        width: 100%;
        // height: 12em;
        padding: 0.5em 0;
        overflow: hidden;
        // overflow: auto;

    }

    .actualSlideWrappers{
        min-width: 100%;
        // min-width: fit-content;
        // width: fit-content;

        // overflow: auto;

    }

    .slideWrap{
        // background: yellow;

        $aspectRatioWidth: percentage(1/$noOfSlides);
        // min-width: 33.33%;
        min-width: $aspectRatioWidth;
        padding-top: $aspectRatioWidth + percentage((1/$noOfSlides) / 3);

        cursor: pointer;

        transition: 0.2s ease-out;

        &:hover{

            transform: translateY(-0.25em);

            .actualPic{
                width: 120%;
                height: 120%;
                transform-origin: 50% 50%;
            }

            .slideBgd{
                filter: drop-shadow(0 0.3em 0.25em $blue);
                background: $pureWhite;
            }

            p{
                color: $darkerGray;
                font-weight: 400;
            }


        }
        
    }

    .slideInnerWrap{
        width: 100%;
        height: 100%;
        padding: 0.25em;
        text-align: center;


       
    }

    .slideBgd{
        transition: 0.2s;
        background: $darkerGray;
        height: 100%;
        border-radius: 1em;
    }

    .picWrap{
        width: 100%;
        padding-top: 100%;

        overflow: hidden;
        
        border-radius: 1em;

        // border: 0.1em solid red;
        
    }

    .actualPic{
        transition: 0.2s ease-out;
        width: 100%;
        height: 100%;
        transform-origin: 50% 50%;
        object-fit: cover;
    }

    .footer{
        max-width: 100%;
        height: 25%;
        padding: 0.5em;
        

        p{
            overflow: hidden;
            color: $pureWhite;
            // height: 100%;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            // padding: 0.25em;
            font-weight: 300;
            // max-width: 100%;
            // max-height: 100%;
        }
        // background: red;
    }

    .heading2{
        font-size: 1.5em;
        font-weight: 500;
        color: $pureWhite;

    }



    // .roundSVGButton{
    //     outline: none;
    //     border: 0.2em solid $transparentWhite;
    //     border-radius: 100em;
    //     background: none;
        
    //     padding: 0.1em;
    
    //     $iconsHeight: 3.2em;
    
    //     max-width: $iconsHeight;
    //     max-height: $iconsHeight;
    
    //     min-width: $iconsHeight;
    //     min-height: $iconsHeight;
    
    //     margin-left: 0.5em;
    //     // background: yellow;
    //     cursor: pointer;
    
    //     svg{
    //         width: 100%;
    //         height: 100%;
    //     }
    
    //     &:hover{
    //         border-color: $pureWhite;
    //     }
    
    //     &:focus{
    //         border-color: $highlightShade;
    //     }
    // }
}