@import './libs/vars';

.container{


    nav{
        justify-content: space-between;
        width: 100%;
        // background: yellow;

        padding: 0 5vw;
        min-height: 10vh;

        z-index: 2;
        position: absolute;

        // width: 25%;
        filter: drop-shadow(0 0 1em $transparentWhite);
    }

    .logo{
        width: 10em;
    }

    .ULs{
        height: 100%;
        // width: 50%;

        // background: pink;
    }

    $iconsHeight: 3.5em;

    .navIcons{
        outline: none;
        border: 0.2em solid $transparentWhite;
        border-radius: 100em;
        background: none;
        
        padding: 0.1em;

        max-width: $iconsHeight;
        max-height: $iconsHeight;

        min-width: $iconsHeight;
        min-height: $iconsHeight;

        margin-left: 0.5em;
        // background: yellow;
        cursor: pointer;

        svg{
            width: 100%;
            height: 100%;
        }

        &:hover{
            border-color: $pureWhite;
        }

        &:focus{
            border-color: $highlightShade;
        }
    }
}



//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////
//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////
//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////


    // MOBILE PORTRAIT
    @media screen and (min-width: 100px) and (max-width: 767px) and (orientation: portrait)  {

    }

    // MOBILE LANDSCAPE
    @media screen and (min-width: 100px) and (max-width: 767px) and (orientation: landscape){

    } 







    // IPAD PORTRAIT
    @media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {

    }

    // IPAD LANDSCAPE
    @media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {

    }






    // IPAD PRO PORTRAIT
    @media screen and (min-width: 1024px) and (max-width: 1151px)  and (orientation: portrait)  {

    }

    // IPAD PRO LANDSCAPE
    @media screen and (min-width: 1024px) and (max-width: 1151px)  and (orientation: landscape)  {

    }






    // MDPI SCREENS
    @media screen and (min-width: 1152px) and (max-width: 1365px){

    }

    // USUAL LAPTOPS
    @media screen and (min-width: 1366px) and (max-width: 1339px){

    }

    // HiDPI SCREENS
    @media screen and (min-width: 1440px) and (max-width: 1919px){

    }





    // FULL HD SCREENS
    @media screen and (min-width: 1920px) and (max-width: 6000px){

    }


//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////
//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////
//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////
