@import "../libs/_vars";
@import "../libs/_mixins";



.container{
    width: 100%;




    

    @keyframes animatedBackground {
        from {
        background-position: 0% 0;
        }
        to {
        background-position: 100% 0;
        }
    }

    .submitButton{
        border: 0.2em solid $transparentWhite;
        padding: 1.25em;
        height: 100%;

        @include blurredBackdrop;
        // border-radius: 100em;
        outline: none;



        cursor: pointer;
        /* border: none; */
        transition: 0.2s;

        background-image: url(https://folio-pics.s3.eu-west-2.amazonaws.com/layoutBackground-01.png);
        background-position: -100% 0%;
        background-size: 500%;
        background-repeat: no-repeat;


        &:hover{
            background-image: url(https://folio-pics.s3.eu-west-2.amazonaws.com/layoutBackground-01.png);
            background-size: 800%;
            background-repeat: repeat-x;
            animation: animatedBackground 8s linear infinite ;
        }

        &:focus{
            border-color: #000000;
        }


        border: none;
    }



    .submitIcon{
        width: 3.25em;
    }














    .searchWrap{
        width: 100%;
        outline: none;
        background: none;

        

    }

    .showAside{
        width: 5%;
        height: 100%;
        @include blurredBackdrop;
    }

    .suggestionsContainer{
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .gridder{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .hide{
        display: none;
    }

    .suggestions{
        width: 100%;
        // background: beige;
    }

    .searchInputWrap{
        width: 100%;
        height: 5em;
    }

    .formWrap{
        
    }

    .searchIcon{
        width: 4em;
        height: 100%;
        padding: 0.85em;
        @include blurredBackdrop;
    }

    form{
        width: 100%;
        height: 100%;
    }

    .searchInput{
        height: 100%;
        width: 100%;
        @include blurredBackdrop;

        outline: none;
        border: none;

        padding: 0 0.5em;

        color: $secondaryHighlight;


    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $pureWhite;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $pureWhite;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: $pureWhite;
    }

    @keyframes FadeIn {
        0%{
            opacity: 0;
            transform: scaleY(0.1);
        }

        100%{
            opacity: 1;
            transform: scaleY(1);
        }
    }

    .suggestionsWrap{
        width: 100%;
        @include blurredBackdrop;
        top: 100%;
        padding: 0 4em;
        overflow-y: auto;

        // animation: FadeIn 0.1s ease-in;
        transform-origin: 50% 0%;
        // height: 100vh;
    }

    

    ul{
        color: $secondaryHighlight;
        margin-bottom: 1em;
        width: 100%;

        padding: 0 0.5em;
        padding-right: 2em;

        // &:nth-child(odd){
        //     padding-right: 1em;
        //     // background: yellow;
        // }
        
    }

    .suggestionLabel{
        color: $pureWhite;
        // font-size: 1.15em;
        font-size: 1.55em;
        font-weight: 500;
        width: 100%;
        border-bottom: 0.02em solid $pureWhite;
        margin: 1em 0;
    }

    li{
        color: $pureWhite;
        font-weight: 300;
        padding: 0.5em;
        width: 100%;

        cursor: pointer;
        transition: 0.2s;

        &:hover{
            background: $transparentWhite;
        }

    }

    $h: 3.8em;

    .thumbImg{
        // border-radius: 0.5em;

        

        min-width: $h;
        min-height: $h;

        width: $h;
        height: $h;
        margin-right: 0.5em;
    }

    .suggestion{
        padding: 0.5em;
        cursor: pointer;
        transition: 0.2s ease-out;

        &:hover{
            background: $transparentWhite;
            filter: drop-shadow(0 0 1em $transparentBlue);
        }
    }

    .thumbnail{
        // width: $h;
        height: $h;
    }

    .titleWrap{
        padding-right: 1em;
        max-width: 10em;

        h3, p{
            max-width: 100%;
            overflow:hidden;
            display:inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .artist{
        img{
            border-radius: 100em;
        }
    }


}










//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////
//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////
//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////


    // MOBILE PORTRAIT
    @media screen and (min-width: 100px) and (max-width: 767px) and (orientation: portrait)  {

    }

    // MOBILE LANDSCAPE
    @media screen and (min-width: 100px) and (max-width: 767px) and (orientation: landscape){

    } 







    // IPAD PORTRAIT
    @media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {

    }

    // IPAD LANDSCAPE
    @media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {

    }






    // IPAD PRO PORTRAIT
    @media screen and (min-width: 1024px) and (max-width: 1151px)  and (orientation: portrait)  {

    }

    // IPAD PRO LANDSCAPE
    @media screen and (min-width: 1024px) and (max-width: 1151px)  and (orientation: landscape)  {

    }






    // MDPI SCREENS
    @media screen and (min-width: 1152px) and (max-width: 1365px){

    }

    // USUAL LAPTOPS
    @media screen and (min-width: 1366px) and (max-width: 1339px){

    }

    // HiDPI SCREENS
    @media screen and (min-width: 1440px) and (max-width: 1919px){

    }





    // FULL HD SCREENS
    @media screen and (min-width: 1920px) and (max-width: 6000px){

    }


//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////
//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////
//  RESPONSIVENESS //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //// //////// //// //// //// //// //// //// ////
