@import '../libs/vars';

.container{
    background: $darkestGray;
    // background-image: url('https://folio-pics.s3.eu-west-2.amazonaws.com/spotifinder/background.png');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}