@import '../libs/vars';

.container{
    background: $intenseGray;
    // background-image: url('https://folio-pics.s3.eu-west-2.amazonaws.com/spotifinder/background.png');
    // background-image: url('https://folio-pics.s3.eu-west-2.amazonaws.com/spotifinder/vinyl-track-01.png');


    
    width: 100vw;
    height: 100vh;
    // background-size: cover;
    background-size: 20%;
    background-repeat: repeat;
}